div{
    background-color: blueviolet;
    padding: 20px;
    text-align: bottom;
    margin: 20px;
    border-radius: 15px;
    color: aliceblue;
    text-shadow: rgb(18, 20, 20);
    box-shadow: dimgray;

}